<app-bread-crumb
    [items]="[{text: 'Categories', link: '/categories'}, {text: pageTitle}]">
</app-bread-crumb>

<app-page-header
    [page-title]="pageTitle"
    button-text="< Back"
    button-link="/categories"
    button-class="btn-light">
</app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Category info
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">

          <div class="text-danger" *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">
            <div *ngIf="resourceForm.get('name').errors.required">Must not be empty</div>
            <div *ngIf="resourceForm.get('name').errors.minLength">Must have at least 2 characters</div>
          </div>
        </div>

        <div class="form-group col-md-8">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-3" *ngIf="serverErrorMessages">
    <strong>Server error</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>

  <button type="submit" class="btn btn-primary btn-lg float-right mt-3"
          [disabled]="submittingForm || resourceForm.invalid">
    Save
  </button>
</form>
