<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/entries">Entries</a>
    </li>
    <li class="breadcrumb-item active">
      {{pageTitle}}
    </li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md-9">
    <h1 class="h2 border-left pl-2">
      {{pageTitle}}
    </h1>
  </div>
  <div class="col-md-3">
    <a class="btn btn-light float-right" routerLink="/entries">
      < Back
    </a>
  </div>
</div>

<form [formGroup]="entryForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Entry info
    </div>

    <div class="card-body">

      <div class="form-row">
        <!--TYPE-->
        <div class="form-group col-md-2">
          <label for="type">Type</label>
          <select class="form-control" name="type" id="type" formControlName="type">
            <option *ngFor="let option of typeOptions" [value]="option.value">{{option.text}}</option>
          </select>

          <div class="text-danger" *ngIf="entryForm.get('type').invalid && entryForm.get('type').touched">
            <div *ngIf="entryForm.get('type').errors.required">Must not be empty</div>
          </div>
        </div>

        <!--NAME-->
        <div class="form-group col-md-5">
          <label for="name">Entry</label>
          <input type="text" class="form-control" id="name" formControlName="name">

          <div class="text-danger" *ngIf="entryForm.get('name').invalid && entryForm.get('name').touched">
            <div *ngIf="entryForm.get('name').errors.required">Must not be empty</div>
            <div *ngIf="entryForm.get('name').errors.minLength">Must have at least 2 characters</div>
          </div>
        </div>

        <!--AMOUNT-->
        <div class="form-group col-md-3">
          <label for="amount">Amount</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">$</div>
            </div>
            <input type="text" class="form-control text-right" id="amount" [imask]="imaskConfig"
                   formControlName="amount">
          </div>

          <div class="text-danger" *ngIf="entryForm.get('amount').invalid && entryForm.get('amount').touched">
            <div *ngIf="entryForm.get('amount').errors.required">Must not be empty</div>
          </div>
        </div>

        <!--DATE-->
        <div class="form-group col-md-2">
          <label for="date">Date</label>
          <p-calendar id="date" formControlName="date" inputStyleClass="form-control"
                      dataType="string" dateFormat="dd/mm/yy" [showButtonBar]="true">
          </p-calendar>

          <div class="text-danger" *ngIf="entryForm.get('date').invalid && entryForm.get('date').touched">
            <div *ngIf="entryForm.get('date').errors.required">Must not be empty</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!--PAID-->
        <div class="form-group col-md-2">
          <label for="paid">Paid</label>
          <div id="paid" class="btn-group">
            <label [class.active]="entryForm.get('paid').value === true" class="btn btn-outline-info"
                   (click)="entryForm.get('paid').setValue(true)">
              Paid
            </label>
            <label [class.active]="entryForm.get('paid').value === false" class="btn btn-outline-info"
                   (click)="entryForm.get('paid').setValue(false)">
              Pending
            </label>
          </div>

          <div class="text-danger" *ngIf="entryForm.get('paid').invalid && entryForm.get('paid').touched">
            <div *ngIf="entryForm.get('paid').errors.required">Must not be empty</div>
          </div>
        </div>

        <!--CATEGORY ID-->
        <div class="form-group col-md-3">
          <label for="categoryId">Category</label>
          <select class="form-control" name="categoryId" id="categoryId" formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>

          <div class="text-danger" *ngIf="entryForm.get('categoryId').invalid && entryForm.get('categoryId').touched">
            <div *ngIf="entryForm.get('categoryId').errors.required">Must not be empty</div>
          </div>
        </div>

        <!--DESCRIPTION-->
        <div class="form-group col-md-7">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-3" *ngIf="serverErrorMessages">
    <strong>Server error</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>

  <button type="submit" class="btn btn-primary btn-lg float-right mt-3"
          [disabled]="submittingForm || entryForm.invalid">
    Save
  </button>
</form>
